Redirect /lx0.56_pack1.9.zip http://downloads.sourceforge.net/openlierox/lx0.56_pack1.9.zip
Redirect /additions/lx0.56_pack1.9.zip http://downloads.sourceforge.net/openlierox/lx0.56_pack1.9.zip

Redirect /another_lx_pack_2007_01_05.zip http://downloads.sourceforge.net/openlierox/another_lx_pack_2007_01_05.zip
Redirect /additions/another_lx_pack_2007_01_05.zip http://downloads.sourceforge.net/openlierox/another_lx_pack_2007_01_05.zip

Redirect /OpenLieroX_0.57_beta1.src.tar.bz http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.src.tar.bz
Redirect /OpenLieroX_0.57_beta1.src.zip http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.src.zip
Redirect /OpenLieroX_0.57_beta1.win32.zip http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.win32.zip

Redirect /tarball/OpenLieroX_0.57_beta1.src.tar.bz http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.src.tar.bz
Redirect /tarball/OpenLieroX_0.57_beta1.src.zip http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.src.zip
Redirect /tarball/OpenLieroX_0.57_beta1.win32.zip http://downloads.sourceforge.net/openlierox/OpenLieroX_0.57_beta1.win32.zip

