build/msvc*/obj
build/msvc*/Debug
build/msvc*/Release
build/Xcode/build
src/breakpad/external/src/*/*/*/build
src/breakpad/external/src/*/*/build
*.ncb
*.suo
*.vcproj.*.user
*.mode1v3
*.mode2v3
*.pbxuser
*.user
*.user.*
xcuserdata
xcshareddata

*.kdev*
Doxyfile
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
bin
*~
*.build

# this one is automatically created by CMake
gamedecompiler.xcodeproj

*.idb
*.pdb
*.pyc
*.log

configure-stamp
build-stamp
PrecompiledHeader.*
*openlierox_pch_dephelp.*

distrib
