build/msvc*/obj
build/msvc*/Debug
build/msvc*/Release
*.ncb
*.suo
*.vcproj.*.user
*.mode1v3
*.mode2v3

*.kdev*
Doxyfile
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
bin
*~

*.idb
*.pdb

configure-stamp
build-stamp
PrecompiledHeader.*
*openlierox_pch_dephelp.*
