Source: openlierox-dedicated
Section: games
Priority: optional
Maintainer: Albert Zeyer <albert.zeyer@rwth-aachen.de>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5),
 bash (>= 3.1dfsg-8), gzip (>= 1.3.5-15)

Package: openlierox-dedicated
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python (>= 2.4), openlierox (>= 0.58.beta10)
Description: /etc/init.d script to start OpenLieroX as a dedicated server(s) on system startup.
