#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	cmake . -DVERSION=$(shell cat VERSION) \
		-DCMAKE_C_FLAGS="-g" \
		-DCMAKE_CXX_FLAGS="-g" \
		-DHAWKNL_BUILTIN=1 \
		-DLIBZIP_BUILTIN=1 \
		-DLIBLUA_BUILTIN=1 \
		-DBOOST_LINK_STATIC=1 \
		-DDEBUG=0 \
		-DSYSTEM_DATA_DIR=/usr/share/games
# Note: Breakpad is disabled for x86_64 because this platform is currently
# unsupported there.
ifeq ($(DEB_HOST_ARCH),amd64)
	cmake . -DBREAKPAD=Off
endif

override_dh_auto_install:
	install -d debian/tmp/usr/games/
	PREFIX=$(CURDIR)/debian/tmp \
	BIN_DIR=usr/games \
	SYSTEM_DATA_DIR=usr/share/games \
		./install.sh
#	find debian/tmp/usr/share/ -type f -exec chmod 644 {} \;
#	find debian/tmp/usr/share/games/OpenLieroX/scripts/ \
		-type f \
		! name dedicated_control_ranking.py \
		-o ! name portalocker.py \
		-o ! -name simple_ded_control.php \
		-o ! __init__.py \
		-o ! available_commands.txt \
		-exec chmod 755 {} \;
#	find debian/tmp/openlierox/usr/share/games/OpenlieroX/ \
		-name 'dedicated_config*.py' \
		-exec chmod 755 {} \;
	dh_auto_install
