[Desktop Entry]
Version=1.0
Name=OpenLieroX
Type=Application
Comment=A real-time excessive Worms-clone
Exec=openlierox
TryExec=openlierox
Icon=OpenLieroX.svg
Categories=Game;
